[general]
log_file = ./parsedmarc.log
save_aggregate = True
save_forensic = False
silent = False
debug = True

[mailbox]
reports_folder = dmarc
archive_folder = dmarc-processed
watch = True
test = False
check_timeout = 20

[msgraph]
auth_method = ClientSecret
client_id = <CHANGE THIS xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx >
client_secret = <CHANGE THIS xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx >
tenant_id = <CHANGE THIS xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx >
mailbox = <CHANGE THIS username@mailbox.com>
